body {
    background-color: #fff;
}
.w {
    width: 1200px;
    margin: auto;
}
.w .logo{
  width: 55px;
  height: 55px;
  background: #ff6700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.w .logo .img{
  display: block;
}
a {
	text-decoration: none; 
}
header {
    height: 122px;
    border-bottom: 2px solid #ff6700;
}
.registerarea {
    height: 520px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3 {
    border-bottom: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    background-color: #ececec;
    padding: 0 10px;
    font-weight: 400;
    margin: 0;
    font-size: 18px;
    color: #333;
}
.registerarea h3 em {
    float: right;
    font-style: normal;
    font-size: 14px;
}
.registerarea a {
    color: #ff6700;
}
.reg_form {
    width: 600px;
    height: 400px;
    margin: 40px auto;
}
.reg_form li {
    margin-bottom: 15px;
	list-style-type: none;
}
.reg_form label {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.reg_form  .inp {
    width: 238px;
    height: 34px;
    border: 1px solid #ccc;
    margin-left: 10px;
}
.password,
.repassword {
    position: relative;
}
.agree {
    padding-left: 114px;
    font-size: 12px;
}
.agree input {
    vertical-align: middle;
    margin-right: 5px;
}
.agree a {
    color: #1ba1e6;
}
.over {
    width: 200px;
    height: 34px;
    background-color: #ff6700;
    margin: 30px 130px;
    color: #fff;
}
.site-info{
  height: 106px;
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa;
}
.site-info .container{
  width: 1226px;
  height: 57px;
  margin-right: auto;
  margin-left: auto;
}
.info-text{
  float: left;
  color: #b0b0b0;
  width: 724.06px;
  height: 54.5px;
}
.info-links{
  float: right;
  height: 28px;
  margin: 4px 0 0;
  width: 436.359px;
  height: 28px;
}
.info-links>a{
  float: left;
}
.info-links>a>img{
  width: auto;
  height: 28px;
  margin-left: 0px;
}
.info-text .bbbbb>a{
  color:#b0b0b0;
}
.info-text .bbbbb>a:hover{
  color: #ff6700;
}
.info-text .sites{
  margin: 0;
  line-height: 18px;
}
.info-text .sites>a{
  color: #757575;
}
.info-text .sites>span{
  margin: 0 .25em;
  font-family: sans-serif;
}
.slogan{
  margin: 30px auto 0;
  width: 267px;
  height: 19px;
  display: block;
}